/bin/
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.lock
*.xml
out/*
.idea/workspace.xml
*.xml
.idea/misc.xml
.idea/workspace.xml
